{% load static %}
<link rel='stylesheet' type='text/css' href='{% static "todo/styles.css" %}' >
<div class="box-main">
    <div class="content-box">
        <div class="top-bar">
            <div class="top-bar-content">
                <div class="top-title">
                    <h1>Tache a faire</h1>
                </div>
                <form action="{% url 'todo:add_task' %}" class="top-action" >
                    <button type="submit">ADD NEW TASK</button>
                </form>
            </div>
        </div>
        <div class="list-task">
            {% if tasks %}
            <ul class="list-task-content">
                <!-- loop to display all task-->
            </ul>
            {% else %}
            <div class="list-task-content">
                <h3>Super vous n'avez rien a faire. Donc netflix et chill! :)</h3> 
            <div>
            {% endif %}
        </div>
    </div>
</div>